{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'Create new product'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new product'|trans }}</h1>
    {{ include('home/form.html.twig') }}
{% endblock %}


